@import "vars"
/*==========  Desktop First  ==========*/
@media screen and (min-width: 1190px)
  /**/
@media screen and (max-width: 1340px)
  //Window size
  .window-size
    grid-template-columns: repeat(4,1fr)
@media screen and (max-width: 1300px)
  //Header
  .catalog-toggle
    order: -1
    width: 40px
    &.mobile
      display: grid
    &.desktop
      display: none
  .toggle-title
    display: none
  .toggle-decs
    padding: 0 5px
  .header-top-container
    grid-template-columns: 40px 1fr 40px
    grid-gap: 5px
  .header-logo
    justify-content: center
  .header-nav
    display: none
    position: absolute
    top: 80px
    width: 100%
    z-index: 2
  .header-menu
    background: #F3FAFA
    padding: 14px
    justify-content: flex-start
  .header-menu-item
    flex: 1 0 250px
    margin: .7%
    &::before
      content: ''
      width: 10px
      height: 2px
      background: rgba(39,122,122,.3)
      display: inline-block
      vertical-align: middle
      margin-right: 9px
    a
      font-weight: normal
  .catalog-menu-wrapper
    position: static
    width: 100%
    display: block
  .catalog-menu
    width: auto
    padding: 14px
  .header-bottom
    grid-template-columns: 100%
    padding-bottom: 0
    display: none
    &.active
      display: grid
  .header-search-container
    margin: 0 -30px
    padding: 20px 25px
    background: #F3FAFA
  .header-mobile
    display: block
    background: $blue-gradient
    padding: 5px 0
  .header-mobile-container
    grid-template-columns: 4fr 1fr
    grid-template-rows: 1fr
    align-items: center
    grid-gap: 10px
    >*
      align-self: center
  .header-mobile-tel
    color: $white
    font-size: 24px
    line-height: 28px
    text-decoration: none
    font-weight: bold
  .header-mobile-text
    color: $white
  .header-button-call
    display: none
  .header-button-contact
    display: block
  .header-button-contacts
    width: 40px
  /*Main banner*/
  .main-banner
    background: #F3FAFA
  .main-banner-container
    padding-top: 20px
    padding-bottom: 20px
    grid-template-columns: 100%
  .main-banner-img
    display: none
  .banner-play-container
    display: none
  .main-banner-content
    margin: 20px 0
    text-align: center
    max-width: 100%
  .title
    text-align: center
  .advantages-list
    grid-template-columns: 100%
  //Lead form
  .lead-form-banner
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
    margin-top: 0
  .lead-form-banner-footer
    grid-template-columns: 100%
    .lead-form-submit
      width: 100%
  .lead-form-banner-header
    grid-template-columns: 1fr
  //Master Lead
  .master-lead-img
    display: none
  .master-lead-container
    grid-template-columns: 100%
    grid-gap: 20px
  .master-lead-item
    justify-content: start
  .master-lead-form,.master-lead-list
    padding: 30px
  //Our cases
  .our-cases-list-item,.our-cases-list-gallery
    grid-template-columns: 100%
    grid-gap: 10px
  .our-cases-list-gallery-imgs
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: repeat(3,1fr)
    grid-gap: 10px
  .our-cases-list-gallery-img
    height: 100%
  .our-cases-slider-content
    display: none
  .our-cases-slider-btn
    margin-top: 18px
    display: block
    width: 100%
  //How we work
  .how-we-work-list
    grid-template-columns: repeat(3,1fr)
  //Video message
  .video-message-container
    grid-template-columns: 100%
    grid-gap: 20px
  .video-message-item:first-child
    height: 700px
  //Why important
  .why-important-list
    grid-template-columns: repeat(3,1fr)
  //Footer
  .footer-menu
    grid-template-columns: repeat(3,1fr)
  .footer-bottom
    grid-template-columns: repeat(3,1fr)
  //Popup review
  .popup-reviews
    .popup-header
      display: grid
      grid-template-columns: 1fr 20px
      grid-template-rows: 1fr
      align-items: start
      >*
        align-self: start
    .popup-close
      text-align: right
  .popup-review-main,.popup-reviews-content-container,.popup-reviews-form-top
    grid-template-columns: 100%
  .popup-write-form-submit
    width: 100%
  .popup-reviews-video-gallery
    display: grid
    grid-template-columns: repeat(3,1fr)
    grid-gap: 10px
  //Services page
  .services-page-list
    grid-template-columns: 100%
  .banner-page
    margin-top: 0
    background-image:  none !important
  //Service page
  .service-page-banner-right
    grid-template-columns: 100%
    background-image: none !important
  //Blog page
  .blog-page-banner-container,.blog-page-columns
    grid-template-columns: 100%
  //Contacts
  .contacts-container
    grid-template-columns: 100%
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1190px)
  /**/
@media only screen and (max-width: 1045px)
  /**/
/* Medium Devices, Desktops */
@media only screen and (max-width : 995px)
  //Services price
  .services-price-list
    grid-template-columns: 100%
  //Service page
  .service-page-container
    grid-template-columns: 100%
  .service-page-banner-right
    display: none
  .service-page-content
    margin-bottom: 25px
  .service-page-mobile-play
    position: static
    display: grid
    justify-content: start
    grid-template-columns: 30px 190px
    margin-bottom: 22px
    .play-popup-title
      font-size: 14px
    .play-banner-popup
      width: 30px
      height: 30px
      background-size: cover
  .btn-service-page
    display: block
    width: 100%
    margin-bottom: 25px
  //Blog
  .blog-list
    grid-template-columns: repeat(3,1fr)
  //Popup sale
  .popup-sale-img
    display: none
  .popup-sale-header,.popup-sale-footer
    width: 100%
  //Blog page
  .all-blogs-list
    grid-template-columns: repeat(3,1fr)
/* Small Devices, Tablets */
@media only screen and (max-width : 880px)
  .slider-btn
    width: 20px
    height: 13px
  .is-page-title
    &::after
      display: none
  h1[class],.h1-title,.title
    font-size: 24px
    line-height: 28px
  h2[class],.h2-title,.subtitle
    font-size: 18px
    line-height: 28px
  h3[class],.h3-title
    font-size: 16px
    line-height: 19px
  .h4-title, h4[class]
    font-size: 15px
    line-height: 19px
  .h5-title, h5[class]
    font-size: 14px
    line-height: 15px
  .subtitle:not(.is-page-title):not(.subtitle-right-after)
    text-align: center
    &::after
      display: block
      margin: 6px auto
  .subtitle.is-page-title
    font-size: 18px
    line-height: 21px
  //Why we
  .advantages-banner
    grid-template-columns: 100%
    padding-right: 0
    padding-left: 5px
  .advantages-banner-item:first-child
    display: none
  .advantages-banner-sale
    padding: 20px
  //Window size
  .window-size
    grid-template-columns: repeat(auto-fit,minmax(150px,300px))
    justify-content: center
  .window-repair-container,.window-repair-item
    grid-template-columns: 100%
  //Popup sale
  .subtitle.popup-title::after
    margin: 6px 7px 6px 0
  .subtitle.popup-sale-title
    text-align: left
    justify-content: space-between
    &::after
      order: 1
  .popup-sale-form
    grid-template-columns: 100%
  .popup-sale-form-submit
    grid-column-start: 1
    grid-column-end: 1
  .popup-sale-container
    padding: 30px 20px
  //Contacts
  .contacts-info-top
    grid-template-columns: 100%
  //Not found
  h1.not-found-title
    font-size: 4rem
/* Extra Small Devices, Phones */
@media only screen and (max-width : 794px)
  .site-contacts-info-text,.site-contacts-info-container
    text-align: left
  .container
    padding: 0 20px
  //All services
  section[class]:not(.map-contacts),#footer
    padding-top: 30px
    padding-bottom: 30px
  .all-services,.all-services.ismain
    margin-top: 0
  .all-services-list
    overflow-y: scroll
    grid-auto-flow: column
    grid-template-columns: max-content
    grid-template-rows: 1fr
    padding: 10px 5px
  .all-services-list-item
    width: 205px
  h3.services-page-list-title
    font-size: 18px
    line-height: 20px
    margin-bottom: 15px
  .services-page-table
    display: none
    &.services-page-table-mobile
      display: block
      margin-bottom: 15px
  //Master Lead
  .master-lead-list,.lead-form-master-container
    grid-template-columns: 100%
  .master-lead-submit
    grid-column-end: 1
    grid-column-start: 1
    width: 100%
  .master-lead-item
    grid-template-columns: 40px 1fr
  .master-lead
    margin: 0
  //Window type
  .window-type-list
    grid-template-columns: auto
  // Why we
  .why-we-advantages
    display: block
    margin-top: 0
    .advantages-list-item
      text-align: center
    .advantages-img
      img
        margin: 20px auto
  .advantages-text
    padding: 0 40px
  // How work
  .how-we-work-list
    display: block
    text-align: center
  .how-we-work-title-container
    justify-content: center
    grid-template-columns: auto auto
  //Project slider
  .projects-slider
    .slick-track
      display: block
    .slider-btn
      background: url('../img/icons/right.svg') no-repeat center/60%,rgba(82, 196, 196, 0.3)
      border-radius: 50%
      width: 32px
      height: 32px
  .project-slider-img
    display: block
    height: 190px
    img
      width: 100%
      object-fit: cover
      height: 100%
  .projects-slider-wrapper
    background-image: none !important
    margin: 0 20px
    padding-left: 0
    padding-right: 0
    position: relative
  .projects-slider-content
    max-width: 100%
    width: 100%
    background-image: url("../img/_src/main-page/projects-slider/bg-text-mobile.png") !important
    background-size: 100% 100%
    padding: 40px 0
    margin-bottom: -30px
    position: relative
    z-index: 1
  .projects-slider-content-container,.projects-slider-info
    margin: 0 30px
  //Video message
  .video-message-advantages
    grid-template-columns: repeat(2,1fr)
    grid-template-rows: repeat(2,1fr)
  .video-message-advantages-number
    font-size: 24px
  //Why important
  .why-important-list
    display: block
  .why-important-list-item-container
    margin: 20px
    min-height: 280px
  //Footer
  .footer-menu,.footer-bottom
    grid-template-columns: auto
  .footer-bottom
    justify-content: center
  .footer-logo
    order: 1
  //Video message
  .video-message-item:first-child
    height: 280px
  //Header
  .header-bottom
    padding-top: 20px
    padding-bottom: 20px
  .header-search-container
    margin: 0 -20px
  //Popups
  .popup-write-form-top
    grid-template-columns: 100%
    grid-template-rows: auto
    margin-bottom: 30px
  .popup-write-textarea
    grid-column-start: 1
    grid-column-end: 1
    grid-row-start: 4
    grid-row-end: 4
    order: 1
  .popup-write-bottom
    .lead-form-check
      order: -1
      margin-bottom: 30px
    .lead-form-checkbox-text
      max-width: inherit
  //Price banner
  .advantages-banner
    background-position: -203px
  .advantages-banner-sale-title
    font-size: 18px
    line-height: 21px
    padding-left: 15px
  .advantages-banner-sale-number
    font-size: 48px
    line-height: 20px
  .advantages-banner-text
    padding-left: 24%
  //Services page
  .services-list-item-header
    grid-template-columns: 100%
  .services-list-btn
    width: 100%
  .maps-contacts-container
    display: none
  //Service page
  .service-page-nav
    grid-template-columns: 100%
  .service-page-nav-item
    padding-bottom: 15px
    text-align: left
    display: flex
    align-items: center
    &:not(:last-child)
      border-bottom: 1px solid #EEEEEE
  .price-sale
    position: static
    margin-left: 7px
  //Blog
  .blog-list
    grid-template-columns: repeat(2,1fr)
  //Blog page
  body
    blockquote
      grid-template-columns: 100%
      padding-left: 20px
  body blockquote::before
    width: 40px
    height: 40px
    font-size: 72px
    text-align: left
    ul:not([class]),ol:not([class]),p:not([class]),h1:not([class]),h2:not([class]),h3:not([class]),h4:not([class]),h5:not([class]),h6:not([class]),blockquote
      margin-bottom: 10px
    h1:not([class])
      font-size: 36px
      line-height: 36px
    h2:not([class])
      font-size: 24px
      line-height: 24px
    h3:not([class])
      font-size: 22px
      line-height: 24px
    h4:not([class])
      font-size: 18px
      line-height: 20px
    h5:not([class])
      font-size: 16px
      line-height: 18px
    h6:not([class])
      font-size: 14px
      line-height: 30px
  .blog-page-slider-item
    height: 164px
    width: 277px
  .all-blogs-list
    grid-template-columns: 100%
  .why-we-history-block
    margin-top: 0
@media  only screen and (max-width: 680px)
  //Popups
  .popup-container
    iframe,.youtube
      height: auto
  .popup-container
    width: 100%
  .popup-review-main
    grid-template-rows: 150px
  .popup-call-form
    grid-template-columns: 100%
  //History
  .history-video,.portfolio-video
    padding-top: 20px
    padding-bottom: 20px
    background-color: #F5F5F5
    margin-top: 20px
  //Contacts
  .contacts-container
    margin: 30px 0
  .contacts-contact,.contacts-info-top,.contacts-info-bottom
    grid-template-columns: 100%
    grid-gap: 20px
  .contacts-contact
    font-size: 18px
    line-height: 24px
  .contacts-info-top
    padding-bottom: 20px
  .contacts-info-bottom
    padding-top: 20px
    p
      font-size: 14px
      line-height: 24px
  .contacts-form
    margin: 0 -20px
/* Extra Small Devices, Phones */
@media (max-width: 483px)
  .youtube
    .play
      width: 40px
      height: 40px
    .youtube-text
      font-size: 14px
  //Blog
  .blog-list
    grid-template-columns: 100%
  //Out partners
  .our-partners-list
    grid-template-columns: repeat(2,1fr)
/* Custom, iPhone Retina */
@media only screen and (max-width : 375px)
  /**/
/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  /**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  /**/
