@import "vars"
@import "fonts"
@import "libs"
@import "animations"
// Critical css
::placeholder
  color: #7c7c7c
input, textarea
  outline: none
  @include reset-button
  &:focus
    color: #7c7c7c
  &:focus,&:hover,&:active
    @include reset-button
::-webkit-scrollbar
  width: 5px
::-webkit-scrollbar-track
  background: transparent
::-webkit-scrollbar-thumb
  background: $blue
  border-radius: 5px
::-webkit-scrollbar:horizontal
  height: 5px
::-webkit-scrollbar-thumb:hover
  background: #555

*
  margin: 0
  padding: 0
ul
  list-style-type: none
ul:not([class]) li,ol:not([class]) li
  margin-bottom: 15px
ol:not([class])
  counter-reset: myCounter
  li
    @include list-type-none
    padding-left: 35px
    position: relative
    &:before
      counter-increment: myCounter
      content: counter(myCounter)
      display: inline-block
      background: $blue
      border-radius: 3px
      color: $white
      font-size: 12px
      font-weight: bold
      width: 25px
      height: 25px
      position: absolute
      line-height: 27px
      text-align: center
      top: 0
      left: 0
ul:not([class])
  li:first-child
    margin-top: 25px
  li
    @include list-type-none
    position: relative
    padding-left: 25px
    &:before
      content: ''
      width: 7px
      height: 7px
      display: block
      position: absolute
      top: 35%
      left: 0
      border-radius: 50%
      background-color:  $blue
button
  @include reset-button
  cursor: pointer
body
  min-width: 320px
  max-width: 1980px
  width: 100%
  margin: 0 auto
  position: relative
  overflow-x: hidden
  color: $default
  background-color: $white
  font-family: 'Roboto', Helvetica, Arial, sans-serif
  letter-spacing: 0.02em
  @include font(300,14px,24px)
  a
    color: $black
  a:hover,a:active
    color: $blue
    outline: none
    border-bottom: 1px dotted $blue
  blockquote
    display: grid
    grid-template-columns: 26px 1fr
    grid-gap: 25px
    border-left: 2px solid $blue
    align-items: center
    >*
      align-items: center
    &::before
      content: '”'
      display: block
      width: 60px
      height: 60px
      text-align: center
      color: #EBEBEB
      font-size: 6em
      border-radius: 50%
      line-height: 105px
  p
    margin-bottom: 14px
.banner-page
  padding-top: 100px
  margin-top: -70px
  background-position: top right
  background-repeat: no-repeat
.ajax-loader
  display: none !important
//Titles
h1,h2,h3,h4,h5,.h1-title,.h2-b-title,.h3-title,.h4-title,.h5-title,blockquote
  color: $black
ul:not([class]),ol:not([class]),p:not([class]),h1:not([class]),h2:not([class]),h3:not([class]),h4:not([class]),h5:not([class]),h6:not([class]),blockquote
  margin-bottom: 30px
  color: #424242
h1:not([class]),h2:not([class]),h3:not([class]),h4:not([class]),h5:not([class]),h6:not([class])
  font-weight: bold
h1:not([class])
  font-size: 36px
  line-height: 30px
h2:not([class])
  font-size: 30px
  line-height: 30px
h3:not([class])
  font-size: 28px
  line-height: 30px
h4:not([class])
  font-size: 24px
  line-height: 30px
h5:not([class])
  font-size: 22px
  line-height: 30px
h6:not([class])
  font-size: 18px
  line-height: 30px
.h2-b-title
  color: #000000
  font-size: 48px
  line-height: 28px
  margin-bottom: 20px
.subtitle
  margin-bottom: 6px
  position: relative
  &::after
    content: ''
    display: inline-block
    vertical-align: middle
    margin-left: 33px
    width: 30px
    height: 10px
    background: url("../img/icons/title-dec.svg") no-repeat center/100%
.info-title
  margin-top: 0
.h1-title,.h2-title,.h3-title,.h4-title,.h5-title,.h6-title
  margin: 10px 0
h1[class],.h1-title
  @include font(bold,46px,52px)
  color: $black
h2[class],.h2-title
  @include font(bold,36px,42px)
  color: $black
h3[class],.h3-title
  @include font(bold,24px,28px)
h4[class],.h4-title
  @include font(bold,18px,21px)
h5[class],.h5-title
  @include font(normal,16px,21px)
h6[class],.h6-title
  @include font(normal,12px,10px)
b,strong
  font-weight: bold
img
  max-width: 100%
  height: auto
h1.title
  font-size: 72px
  line-height: 84px
  text-transform: uppercase
  z-index: 1
.title-center
  text-align: center
.hidden
  display: none !important
#header
  position: relative
  z-index: 2
#main,#footer,#header
  width: 100%
*.grey-bg
  background-color: #F5F5F5
*.white-bg
  background-color: $white
.mobile-block
  display: none !important
// containers
.grid-container
  display: grid
  justify-content: space-between
.flex-container
  display: flex
  flex-wrap: wrap
  justify-content: space-between
.container-fluid
  padding: 0 5px
  max-width: 1500px
  margin: 0 auto
.container
  max-width: 1380px
  padding: 0 30px
  margin: 0 auto
  position: relative
.visible-block
  display: flex !important
//Settings for slider
.slick-initialized .slick-slide
  outline: none
//Btn settings
.btn
  display: block
  cursor: pointer
  border-radius: 3px
  text-align: center
  width: 230px
  height: 40px
  line-height: 40px
  font-weight: bold
  transition: all 500ms ease-in-out
  color: $white
  &:hover
    text-decoration: none
    border-bottom: 0
.btn-grey
  background: #EBEBEB
  color: #595959
  text-decoration: none
.btn-blue
  background: linear-gradient(78.73deg, #52C4C4 0%, #81E6E6 100%)
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05)
.btn-red
  background: linear-gradient(101.04deg, #C24040 0%, #EB7676 100%)
//Site contact
.site-contacts
  grid-template-columns: 40px  1fr
  grid-template-rows: 1fr
  grid-gap: 15px
  justify-content: start
.site-contacts-icon
  width: 40px
  height: 40px
  line-height: 40px
  text-align: center
  color: $red
  font-size: 18px
  font-weight: bold
  border-radius: 3px
  border: 1px solid rgba(194, 64, 64, 0.15)
.site-contacts-info-container
  text-align: right
  width: max-content
.site-contacts-info
  color: $black
  font-weight: bold
  display: block
  text-decoration: none
  font-size: 16px
  line-height: 17px
  text-align: left
  border-bottom: 1px solid transparent
  a
    word-break: break-word
    width: max-content

    text-align: left
.site-contacts-info-text
  text-align: right
  font-size: 12px
  line-height: 11px
  color: $blue
  border-bottom: 1px dotted $blue
  cursor: pointer
  &.site-contact-graphic
    border-bottom: 0
    color: #8A8A8A
.site-contacts-graphic
  color: $black
  border-bottom: 0
//Youtube video
.youtube
  width: 100%
  height: 100%
  transition: all 200ms ease-out
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  background-size: cover
  background-position: center
  border-radius: 3px
  overflow: hidden
  .play
    background: center/cover no-repeat url('../img/icons/play.svg') transparent
    width: 80px
    height: 80px
    border-radius: 50%
    order: -1
    margin-right: 20px
  .youtube-text
    font-weight: bold
    font-size: 24px
    line-height: 24px
    max-width: 197px
    color: $black
.youtube-container
  justify-content: center
  width: 100%
  height: 100%
  align-items: center
//Forms
.lead-form-item
  border-radius: 3px
  border: 1px solid #EBEBEB
  padding: 0 14px
  color: #9C9C9C
  height: 40px
  line-height: 40px
  &:not(.lead-form-files):not(.lead-form-check):not(.lead-form-radio) input
    width: 100%
    font-size: inherit
.lead-form-file,.lead-form-checkbox
  display: none
.lead-form-files
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
.lead-form-file-label
  display: flex
  align-items: center
  width: 100%
  height: 100%
  &::before
    content: ''
    display: inline-block
    background: url("../img/icons/landscape.svg") no-repeat center/50% #EBEBEB
    width: 40px
    height: 40px
.lead-form-file-text
  vertical-align: super
  display: inline-block
  line-height: 16px
  width: 50%
  margin-left: 5px
.lead-form-check
  border: none
  padding: 0
.lead-form-checkbox:checked + .lead-form-checkbox-label::before
    background: url('../img/icons/form-done.svg') no-repeat center/contain $white
.lead-form-checkbox-label
  display: flex
  align-items: center
  &::before
    content: ''
    display: inline-block
    border: 1px solid #EBEBEB
    box-sizing: border-box
    border-radius: 3px
    width: 20px
    min-width: 20px
    height: 20px
    vertical-align: sub
    background-color: $white
.lead-form-checkbox-text
  display: inline-block
  line-height: 20px
  margin-left: 15px
  a
    color: $blue
    text-decoration: underline
.lead-form-radio
  display: none
  &:checked + .lead-form-radio-label::before
    background: $blue-gradient
.lead-form-radio-label
  display: flex
  align-items: center
  justify-content: flex-start
  &::before
    content: ''
    display: block
    width: 10px
    height: 10px
    border-radius: 50%
    box-shadow: 0 0 0 3px #fff, 0 0 0 1px #EBEBEB
    background-color: white
    margin-right: 12px
//Popup
.popup
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  display: none
  z-index: 4
.popup-wrapper
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  overflow-x: auto
.popup-container
  width: 70%
  padding: 20px
  background: #FFFFFF
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2)
  border-radius: 3px
  iframe
    width: 100%
    height: 350px
.popup-header
  margin-bottom: 25px
  position: relative
  align-items: center
.popup-close
  position: absolute
  top: 0
  right: 0
  font-size: 22px
  cursor: pointer
  z-index: 1
.popup-banner-video
  height: 400px
.popup-content
  margin-bottom: 30px
.popup-master
  .popup-container
    width: 320px
  .lead-form-check
    box-shadow: none
.popup-master-form-item
  margin-bottom: 30px
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05)
  border: none
.popup-master-form-submit
  width: 100%
.popup-write-form-top
  grid-template-columns: repeat(2,1fr)
  grid-template-rows: 1fr
  grid-gap: 30px
.popup-write-textarea
  grid-column-start: 1
  grid-column-end: 3
  width: auto
  grid-row-start: 3
  grid-row-end: 5
  height: auto
  padding-top: 10px
  margin-bottom: 20px
  textarea
    width: 100%
    height: 100%
.popup-write-bottom
  justify-content: flex-start
  .lead-form-checkbox-text
    max-width: 240px
  .popup-form-item
    margin-left: 30px
.subtitle.popup-title
  display: flex
  align-items: center
  &::after
    order: -1
    margin-left: 0
    margin-right: 10px
.popup-call-form
  grid-template-columns: repeat(2,1fr)
  grid-template-rows: repeat(2,1fr)
  grid-gap: 30px
  align-items: center
  >*
    align-self: center
  .popup-call-form-submit
    width: 100%
  .lead-form-check
    height: fit-content
.popup-reviews
  .popup-content
    margin-bottom: 0
  .popup-close
    position: static
.popup-review-main
  grid-template-columns: repeat(2,1fr)
  grid-gap: 30px
  grid-template-rows: 1fr
  margin-bottom: 30px
.popup-reviews-video-gallery
  display: none
.popup-reviews-content
  p
    margin-bottom: 10px
.popup-reviews-content-container
  grid-template-columns: 1.5fr 2fr
  grid-template-rows: 1fr
  grid-gap: 20px
  align-items: center
  >*
    align-self: center
.popup-reviews-subtitle
  margin: 0
.popup-reviews-form-top
  margin: 30px 0 20px 0
  grid-template-columns: repeat(4,1fr)
  grid-template-rows: 1fr
  grid-gap: 20px
.popup-sale-container
  padding: 70px
  position: relative
  .popup-close
    top: 15px
    right: 15px
.popup-sale-title
  margin-top: 0
.popup-sale-content
  margin: 20px 0  57px 0
.popup-sale-header
  width: 70%
.popup-sale-form
  grid-template-columns: repeat(2,1fr)
  grid-template-rows: repeat(3,1fr)
  grid-gap: 30px
.popup-sale-form-submit
  grid-column-start: 1
  grid-column-end: 3
  width: 100%
.popup-sale-footer
  width: 65%
.popup-sale-img
  position: absolute
  bottom: 0
  right: 0
  width: 395px
//Header
.header-top
  padding: 25px 0
  background: $white
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05)
  position: relative
  z-index: 1
.header-top-container
  grid-template-columns: 200px 230px 1fr 230px
  grid-template-rows: 1fr
  grid-gap: 30px
  align-items: center
  position: relative
  >*
    align-self: center
.logo
  grid-template-columns: 62px 100px
  grid-template-rows: 1fr
  justify-content: start
  grid-gap: 25px
.logo-img
  img
    height: 48px
  a:hover
    border-bottom: 0
.logo-title
  font-weight: bold
  font-size: 18px
  line-height: 21px
  color: #000000
  padding-top: 5px
.logo-subtitle
  font-size: 10px
  line-height: 12px
  color: #6B6B6B
.catalog-toggle
  display: grid
  grid-template-columns: 40px 1fr
  grid-template-rows: 1fr
  grid-gap: 15px
  text-align: left
  position: relative
.catalog-menu-wrapper
  display: none
  position: absolute
  top: 81px
  left: 18%
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2)
  border-radius: 3px
  z-index: 1
.catalog-item
  flex: 1 0 250px
  margin: .7%
  a
    text-decoration: none
  &::before
    content: ''
    width: 10px
    height: 2px
    background: rgba(39, 122, 122, 0.3)
    display: inline-block
    vertical-align: middle
    margin-right: 9px
.catalog-more
  display: block
  padding: 20px
  text-align: center
  background-color: #EDEDED
  text-decoration: none
  font-weight: normal
.catalog-menu
  background: $white
  padding: 20px
  width: 675px
.toggle-decs
  display: flex
  flex-direction: column
  justify-content: center
  padding-left: 15px
.toggle-dec
  height: 3px
  background: #FFFFFF
  border-radius: 2px
  &:not(:last-child)
    margin-bottom: 5px
  &:nth-child(1)
    width: 60%
  &:nth-child(2)
    width: 80%
.header-menu
  align-items: center
.header-menu-item
  a
    font-weight: bold
    text-decoration: none
.header-bottom
  background: #FFFFFF
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05)
  border-radius: 3px
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr
  grid-gap: 20px
  grid-template-rows: 1fr
  padding-top: 15px
  padding-bottom: 15px
.header-search
  background: #FFFFFF
  border: 1px solid #ECECEC
  border-radius: 3px
  flex-wrap: nowrap
.header-search-input
  display: block
  width: 80%
  padding: 12px
.header-search-submit
  width: 40px
  @include reset-button
  background-color: transparent
  color: $blue
.header-mobile
  display: none
/* Main banner */
.main-banner-container
  grid-template-columns: 2fr 1.5fr
  grid-template-rows: 1fr
  grid-column-gap: 30px
  padding-bottom: 100px
  background-repeat: no-repeat
  background-position: top right
.main-banner-item
  position: relative
.main-banner-content
  margin: 54px 0 70px 0
  max-width: 558px
.main-banner-img
  img
    position: relative
    right: -42px
.banner-play-container
  position: absolute
  top: 30%
  right: -105px
  grid-template-columns: 80px 190px
  grid-template-rows: 1fr
  grid-gap: 10px
  align-items: center
  z-index: 1
  >*
    align-self: center
.play-popup
  display: block
  width: 80px
  height: 80px
  cursor: pointer
.play-popup-title
  font-size: 18px
  color: $black
  font-weight: bold
  display: block
.advantages-list
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr
  grid-gap: 30px
.advantages-list-item
  grid-template-columns: 50px 1fr
  grid-template-rows: 1fr
  grid-gap: 15px
  justify-content: start
.advantages-title
  color: $black
  font-weight: bold
/* Lead form */
.lead-form-banner
  margin-top: -140px
  background: #FFFFFF
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
  border-radius: 3px
  padding-top: 30px
  padding-bottom: 30px
  max-width: 1320px
h2.lead-form-title
  font-size: 26px
  margin: 0
.lead-form-banner-header
  grid-template-columns: 1fr 3fr
  grid-template-rows: 1fr
  grid-gap: 15px
  align-items: center
  margin-bottom: 32px
  >*
    align-self: center
.lead-form-content
  p
    margin-bottom: 0
.lead-form-banner-footer
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
  grid-template-rows: 1fr
  grid-gap: 10px
//All services
.all-services
  padding: 50px 0
  &.ismain
    margin-top: -42px
    padding-top: 85px
.all-services-list
  margin: 55px 0 0 0
  justify-content: space-between
  grid-template-columns: repeat(auto-fit,minmax(200px,205px))
  grid-template-rows: repeat(2,1fr)
  grid-gap: 20px
.all-services-list-item
  border-radius: 3px
  background-color: $white
  position: relative
  &:hover
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
    border-radius: 3px
  &>a
    display: block
    text-decoration: none
    &:hover
      border-bottom: 0
      text-decoration: none
      color: $blue
.all-services-img
  height: 120px
  width: 100%
  img
    width: 100%
    height: 100%
    object-fit: cover
.all-services-title
  text-align: center
  text-decoration: none
  color: $black
  padding: 20px 15px
  &:hover
    color: $blue
.all-services-sale
  display: block
  width: 60px
  height: 30px
  text-align: center
  color: $white
  font-weight: bold
  background: #73E0A5
  border-radius: 3px
  line-height: 30px
  position: absolute
  right: 20px
  top: -15px
/* Why we */
.why-we
  padding: 55px 0
.why-we-advantages
  justify-content: flex-start
  margin-top: 55px
  grid-template-columns: repeat(3,1fr)
  grid-template-rows: repeat(2,1fr)
  grid-gap: 30px
h3.why-we-advantages-title
  font-size: 18px
  margin: 0
.advantages-text
  margin-top: 14px
.advantages-banner
  margin-top: 55px
  background-repeat: no-repeat
  background-size: cover
  padding: 0 30px
  grid-template-columns: 1fr 1fr 1.5fr
  grid-template-rows: 1fr
  grid-gap: 30px
.advantages-banner-text
  font-size: 16px
  line-height: 22px
  color: $black
  padding: 40px 0
.advantages-banner-sale
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr
.advantages-banner-sale-title
  color: $white
  font-size: 30px
  line-height: 30px
  display: flex
  align-items: center
  padding-left: 60px
.advantages-banner-sale-number
  color: $white
  font-size: 96px
  font-weight: bold
  display: flex
  align-items: center
  padding-left: 10px
//Projects slider
.projects-slider
  margin-top: 55px
  position: relative
  .slick-track
    display: flex
.project-slider-img
  display: none
.slider-btn
  display: block
  background: url('../img/icons/right.svg') no-repeat center/cover
  width: 38px
  height: 26px
  cursor: pointer
  position: absolute
  top: 45%
  z-index: 1
.slider-btn-left
  left: 5px
.slider-btn-right
  transform: rotate(180deg)
  right: 5px
.projects-slider-item
  height: auto
  min-height: 350px
.projects-slider-wrapper
  padding: 0 30px
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  height: 100%
.projects-slider-content
  height: 100%
  width: 40%
  padding: 20px
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  display: flex
  flex-direction: column
  justify-content: space-between
.projects-slider-title
  margin: 0
  color: $black
.projects-slider-text
  max-width: 225px
  margin-top: 30px
  margin-bottom: 30px
  color: #7C7C7C
.project-slider-url
  background: #C24040
  border-radius: 3px
  display: block
  width: 118px
  height: 30px
  line-height: 30px
  text-align: center
  text-decoration: none
  border-bottom: 0
  color: $white
  font-weight: bold
  margin-right: 15px
  &:hover
    border-bottom: 0
.projects-slider-info
  justify-content: flex-start
  align-items: center
  margin-bottom: 40px
.projects-slider-price
  color: $black
  font-weight: bold
/* Master lead */
.master-lead
  margin: 60px auto 31px auto
.master-lead-container
  margin-top: 55px
  grid-template-columns: 4fr 1fr 4fr
  grid-template-rows: 1fr
  background: #FFFFFF
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
  border-radius: 3px
.master-lead-text
  p
    margin-bottom: 0
.master-lead-list
  padding: 30px 0 30px 50px
  justify-content: flex-start
  grid-template-columns: repeat(2,1fr)
  grid-template-rows: repeat(3,1fr)
  grid-gap: 10px
.master-lead-item
  grid-template-columns: 42px 230px
  grid-template-rows: 1fr
  grid-gap: 15px
.master-lead-done
  background: #FAFAFA
  width: 43px
  height: 44px
  text-align: center
  line-height: 44px
  border-radius: 50%
.master-lead-img
  position: relative
  img
    position: absolute
    width: 264px
    left: -85px
    top: -14px
    display: block
    max-width: inherit
.lead-form-master-container
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr
  grid-gap: 30px
.master-lead-form
  padding: 30px 50px 30px 0
  .lead-form-master-container
    height: 100%
.master-lead-submit
  grid-column-start: 1
  grid-column-end: 3
  width: auto
/*Calculator*/
.window-calc
  padding: 55px 0
.window-calc-container
  margin-top: 55px
.window-calc-title
  font-size: 18px
  line-height: 21px
  color: #7C7C7C
.window-type-list
  margin: 10px 0 55px 0
  grid-template-columns: repeat(4,1fr)
  grid-gap: 20px
  grid-template-rows: repeat(2,1fr)
.window-type-item
  .lead-form-checkbox-label
    &::before
      margin-right: 15px
.window-size
  margin: 10px 0 55px 0
  grid-template-columns: repeat(6,1fr)
  grid-gap: 20px
  grid-template-rows: 1fr
.window-size-item
  background-color: $white
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
  border-radius: 3px
  padding: 12px
  flex-direction: column
  justify-content: space-between
.window-size-img
  text-align: center
  position: relative
.window-size-checkbox-container
  position: absolute
  width: 100%
  top: 15%
  justify-content: center
.window-size-label
  flex-direction: column
  color: $white
  &::before
    order: 2
.window-size-checkbox-item
  padding: 0 10px
.window-sizes
  margin-top: 25px
.window-sizes-item
  grid-template-columns: 80px 70px
  grid-template-rows: 33px
  grid-gap: 10px
  margin-bottom: 20px
.window-size-input
  background: #FFFFFF
  border: 1px solid #EBEBEB
  border-radius: 3px
  &:focus,&:hover
    border: 1px solid #EBEBEB
.window-size-text
  color: $black
  text-align: center
  display: block
.window-repair-container
  grid-template-columns: 1.5fr 1fr
  grid-gap: 10px
  grid-template-rows: 1fr
  margin-top: 10px
.window-repair-radio-item
  margin-bottom: 25px
  justify-content: start
  align-items: center
  >*
    align-self: center
.window-repair-radio-dest
  background: #FFFFFF
  border: 1px solid #EBEBEB
  border-radius: 3px
  width: 60px
  height: 33px
  margin: 0 5px
.window-repair-radio-dest-text
  width: 10px
  display: block
  word-break: break-word
  text-align: center
  line-height: 16px
.window-repair-item
  grid-template-columns: 1fr 1fr
  grid-gap: 15px
  align-items: center
  >*
    align-self: center
.window-calc-submit
  width: 100%
  height: 67px
  line-height: 67px
/*Our cases*/
.our-cases
  padding: 40px 0
.our-cases-list
  margin-top: 60px
.our-cases-list-item
  grid-template-columns: 2fr 1fr
  grid-gap: 20px
  grid-template-rows: 1fr
  &:not(:last-child)
    margin-bottom: 60px
.our-cases-list-gallery
  grid-template-columns: 3fr 1fr
  grid-template-rows: 1fr
  grid-gap: 20px
.our-cases-list-gallery-main
  img
    width: 100%
    height: 100%
    object-fit: cover
.our-cases-list-gallery-img
  height: calc(100%/3.3)
  &:not(:last-child)
    margin-bottom: 20px
  img
    width: 100%
    height: 100%
    object-fit: cover
.our-cases-slider-content
  p
    margin-bottom: 10px
.our-cases-slider-title
  margin: 0 0 5px 0
.our-cases-slider-play
  color: $blue
  cursor: pointer
.our-cases-slider-btn
  display: none
/*Our partners*/
.our-partners-list
  grid-template-columns: repeat(auto-fit,minmax(116px,192px))
  grid-template-rows: 1fr
  grid-gap: 20px
  align-items: center
  padding-top: 20px
  padding-bottom: 20px
  >*
    align-self: center
.our-partners-list-item
  img
    opacity: .5
/*How work*/
.how-we-work
  padding: 60px 0
.how-we-work-list
  margin-top: 70px
  grid-template-columns: repeat(6,1fr)
  grid-template-rows: 1fr
  grid-gap: 20px
.how-we-work-img
  width: 60px
  height: 60px
  margin: 0 auto
.how-we-work-title-container
  margin: 20px 0
  grid-template-columns: 20px 1fr
  grid-gap: 20px
  grid-template-rows: 1fr
  align-items: center
  >*
    align-self: center
.how-we-work-number
  width: 30px
  height: 30px
  text-align: center
  line-height: 30px
  background: #F5F5F5
  color: $blue
  font-size: 18px
  font-weight: bold
  border-radius: 50%
.how-we-work-title
  display: block
  color: $black
  font-size: 18px
  font-weight: bold
/*Service price*/
.services-price
  padding-bottom: 55px
.services-price-list
  margin-top: 55px
.services-price-list
  grid-template-columns: 1fr 3fr
  grid-gap: 44px
  grid-template-rows: 1fr
.services-price-menu-item
  position: relative
.services-menu-header
  padding: 20px 30px
  margin-bottom: 10px
  font-size: 18px
  cursor: pointer
  &:not(.active)
    color: $black
    background: #FFFFFF
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05)
    border-radius: 3px
  &.active
    background: url(../img/_src/services-price/active.png) no-repeat top/100% 100%
    color: $white
.services-price-container,.services-price-mobile-container
  display: none
  &.active
    display: block
.services-list-price-table-tr
  grid-template-columns: repeat(2,1fr)
  grid-gap: 10px
  grid-template-rows: 1fr
  padding: 10px 0
  &:not(:last-child)
    border-bottom: 1px solid #F0F0F0
.services-list-price-table-prices
  text-align: right
.red-price
  color: $red
  font-weight: bold
.service-price-list-title
  margin-bottom: 33px
/*Video message*/
.video-message
  padding: 100px 0
.video-message-container
  grid-template-columns: repeat(2,1fr)
  grid-column-gap: 20px
  grid-template-rows: 1fr
.video-message-title
  margin-top: 0
.video-message-item
  iframe
    width: 100%
    height: 100%
.video-message-advantages
  margin-top: 40px
  grid-template-columns: repeat(4,1fr)
  grid-template-rows: 1fr
  grid-gap: 40px
  text-align: center
.video-message-advantages-number
  color: $blue
  font-size: 2.5rem
  line-height: 24px
  margin-bottom: 10px
.video-message-advantages-text
  color: $black
/*Employees*/
.employees
  padding: 70px 0 48px 0
.employees-slider
  margin-top: 82px
  .slick-track
    padding: 15px 0
  .slider-btn-right
    right: -3%
  .slider-btn-left
    left: -3%
.employees-slider-container
  padding: 0 20px
.employees-img
  box-shadow: 0 20px 40px rgba(200, 200, 200, 0.3)
  border-radius: 3px
  margin-bottom: 30px
  img
    width: 100%
/*Why important */
.why-important
  padding: 38px 0 48px 0
.why-important-list
  margin-top: 55px
  grid-template-columns: repeat(4,1fr)
  grid-template-rows: repeat(2,1fr)
  grid-gap: 30px
.why-important-list-item-container
  background: #FFFFFF
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
  border-radius: 3px
  padding: 20px
.why-important-number
  color: #EFEFEF
  font-size: 120px
  font-weight: bold
  line-height: 120px
.why-important-content
  margin-top: 33px
  color: $black
.why-important-list-item-last
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  box-shadow: none
  align-content: space-between
  padding: 30px
.why-important-title-last
  font-weight: bold
  font-size: 20px
  line-height: 23px
  color: $white
  max-width: 188px
.why-important-btn
  background: $white
  color: $black
  text-align: center
  width: 100%
  height: 65px
  line-height: 21px
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
  border-radius: 3px
/*FAQ*/
.faq
  padding: 40px  0
.faq-list
  margin-top: 30px
.open-accordion,.faq-list-item
  transition: all 500ms ease-in-out
.faq-list-item
  margin-bottom: 25px
  cursor: pointer
  padding: 20px
  &.active
    background: #FFFFFF
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
    border-radius: 3px
    .faq-list-footer
      display: block
    .open-accordion
      transform: rotate(90deg)
.faq-list-header
  grid-template-rows: 1fr
  grid-template-columns: 7px 1fr
  grid-gap: 20px
  align-items: center
  >*
    align-self: center
h3.faq-list-title
  font-size: 18px
  margin: 0
.faq-list-footer
  padding: 10px 30px 10px 30px
  display: none
  color: $black
.open-accordion
  color: $blue
/*Map contacts*/
.map-contacts
  position: relative
  iframe,ymap
    width: 100%
    height: 600px
.maps-contacts-container
  position: absolute
  background: #FFFFFF
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
  border-radius: 3px
  left: 7%
  top: 10%
  padding: 95px 65px
.maps-contacts-item:not(:last-child)
  margin-bottom: 40px
/*Footer*/
#footer
  padding: 40px 0
.footer-menu
  grid-template-columns: repeat(4,1fr)
  grid-gap: 15px
  grid-template-rows: repeat(3,1fr)
  padding-bottom: 39px
  border-bottom: 4px solid #ECECEC
.footer-menu-item
  &::before
    content: ''
    display: inline-block
    width: 9.63px
    height: 2px
    background: #DFDFDF
    vertical-align: middle
    margin-right: 10px
  &:hover
    &::before
      background: rgba(39, 122, 122, 0.3)
  a
    text-decoration: none
.footer-bottom
  margin-top: 40px
  grid-template-columns: repeat(6,1fr)
  grid-gap: 25px
  grid-template-rows: 1fr
//Breadcrumbs
.breadcrumbs
  justify-content: flex-start
  margin: 5px 0 35px 0
  a
    color: $black
    text-decoration: none
.breadcrumbs-next
  color: $blue
  font-size: 10px
  padding: 0 5px
.services-page-list
  grid-template-columns: repeat(2,1fr)
  grid-template-rows: repeat(2,1fr)
  grid-gap: 30px
.services-list-item-header
  grid-template-columns: 1fr 1.5fr
  grid-template-rows: 1fr
  grid-gap: 20px
  margin-bottom: 20px
.services-list-img
  img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
.services-list-title
  margin-top: 0
  a
    color: $black
    text-decoration: none
    border-bottom: 0
    &:hover
      border-bottom: 0
.services-list-btn
  margin-top: 20px
//Service page
.service-page
  background: #F3FAFA
.service-page-container
  grid-template-columns: 2fr 2fr
  grid-template-rows: 1fr
  grid-gap: 30px
.service-page-content
  color: $black
  margin-bottom: 55px
  p
    margin-bottom: 10px
.service-page-nav
  grid-template-columns: repeat(5,1fr)
  grid-template-rows: 1fr
  grid-gap: 15px
  text-align: center
  background-color: $white
  padding: 15px
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
  border-radius: 3px
  margin-bottom: 40px
  a
    text-decoration: none
.service-page-nav-item
  position: relative
.price-sale
  position: absolute
  top: -10px
  right: -3px
  padding: 2px
  font-weight: bold
  width: 22px
  height: 12px
  line-height: 12px
  font-size: 8px
  background: #73E0A5
  border-radius: 3px
  text-align: center
  color: #FFFFFF
.service-page-banner-right
  grid-template-columns: 1fr 2fr
  grid-gap: 80px
  background-repeat: no-repeat
  background-position: 26% bottom
  background-size: 58%
.service-page-play
  position: static
  align-items: start
  margin-top: 130px
  >*
    align-self: start
.banner-form
  background-color: $white
  padding: 30px
  position: absolute
  bottom: 30px
.banner-form-title
  margin-top: 0
  margin-bottom: 15px
.banner-form-content
  margin-bottom: 30px
.banner-form-item
  margin-bottom: 30px
.banner-form-container
  display: flex
  align-items: flex-end
  position: relative
.banner-form-item-submit
  width: 100%
//Services page table
.service-page-price
  padding: 55px 0
.service-page-price-title
  margin-bottom: 55px
.service-page-maser-lead
  margin-bottom: -20px
.service-page-mobile-play,.btn-service-page
  display: none
//Blog
.blog-list
  grid-template-columns: repeat(4,1fr)
  grid-template-rows: 1fr
  grid-gap: 30px
  @include list-type-none
  a:hover
    border-bottom: 0
.blog-list-img
  img
    width: 100%
    max-height: 195px
    object-position: center
    object-fit: cover
.blog-list-title
  display: block
  text-decoration: none
  &:hover
    border-bottom: 0
//Blog page
.blog-page-banner-container
  grid-template-columns: repeat(2,1fr)
  grid-template-rows: 1fr
  grid-gap: 30px
.blog-page-banner-img
  border-radius: 3px
  overflow: hidden
  img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
.blog-page-columns
  grid-template-columns: repeat(2,1fr)
  grid-template-rows: 1fr
  grid-gap: 30px
.blog-page-url
  border-radius: 3px
  width: 100%
  height: 100%
  object-fit: cover
  object-position: center
.blog-page-slider-item
  border-radius: 3px
  img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
  &:not(.slick-center)
    opacity: 0.3
.all-blogs-list
  margin-top: 55px
  grid-template-columns: repeat(4,1fr)
  grid-template-rows: 1fr
  grid-gap: 30px
.all-blogs
  padding-bottom: 50px
.all-blogs-img
  img
    width: 100%
.all-blogs-item
  a
    text-decoration: none
  .all-blogs-title:hover
    color: $blue
//History
.history-video
  padding-top: 55px
  padding-bottom: 160px
//Portfolio
.portfolio
  padding-bottom: 60px
//Answers
.answers-container
  margin: 50px 0
//Contacts
.contacts-form
  position: static
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15)
  border-radius: 3px
.contacts-container
  margin: 50px 0
.contacts-container
  grid-template-columns: 2fr 1fr
  grid-gap: 30px
  grid-template-rows: 1fr
.contacts-info-top,.contacts-contact,.contacts-info-bottom
  grid-template-columns: repeat(2,1fr)
  grid-gap: 30px
  grid-template-rows: 1fr
.contacts-info-top-adress
  color: $black
  font-size: 24px
  line-height: 36px
.contacts-info-top
  border-bottom: 3px solid #EFEFEF
  padding-bottom: 30px
.contacts-info-bottom
  padding-top: 30px
  p
    font-size: 18px
    line-height: 36px
.bottom-req-fio
  color: $black
//not found
.not-found-container
  flex-direction: column
  justify-content: center
  text-align: center
h1.not-found-title
  font-size: 8rem
  margin: 20px auto
  line-height: 8rem
.not-found-btn
  text-decoration: none
  display: block
  margin: 20px auto
//Wordpress styles
span.wpcf7-not-valid-tip
  font-size: 11px
.your-file
  .wpcf7-not-valid-tip
    display: none
.btn-more
  margin: 20px auto
  &.done
    background-color: #d4d4d4
@import 'media'